body {
    background-color: #4a2d44; 
    background-image: url("telainicio/fundo.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
